
{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock  %}

{% block index %}
    <div id="banner" class="container">
		<div class="title">
			<h2>Proyectos que valen la pena</h2>
			<span class="byline">Empieza una campaña hoy mismo.</span>
		</div>
		<ul class="actions">
			<li><a href="{% if User %}{% url 'newproyect' User%}{% else %}{% url 'login' %}{% endif %}" class="button">Iniciar Campaña</a></li>
		</ul>
	</div>
{% endblock  %}

{% block content %}
    <div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Encuentra una campaña cerca de ti...</h2>
			<span class="byline">Estas son algunas campañas populares cerca de tu ubicación.</span>
		</div>
		<div class="boxA">
			<h2>{{proys.0.name}}</h2>
			{{proys.0.description|safe }}

		</div>
		<div class="boxB">
			<h2>{{proys.1.name}}</h2>
			{{proys.1.description|safe }}
		</div>
		<div class="boxC">
			<h2>{{proys.2.name}}</h2>
			{{proys.2.description|safe }}
		</div>
	</div>

	<div id="three-column" class="container">
		<div class="boxA">
			<a href="{% if User %}{% url 'proyectoLoged' User proys.0.id%}{% else %}{% url 'proyecto' proys.0.id%}{% endif %}" class="button button-alt">More Info</a>
		</div>
		<div class="boxB">
			<a href="{% if User %}{% url 'proyectoLoged' User proys.1.id%}{% else %}{% url 'proyecto' proys.1.id%}{% endif %}" class="button button-alt">More Info</a>
		</div>
		<div class="boxC">
			<a href="{% if User %}{% url 'proyectoLoged' User proys.2.id%}{% else %}{% url 'proyecto' proys.2.id %}{% endif %}" class="button button-alt">More Info</a>
		</div>
	</div>
    </div>
    <div id="welcome">
        <div class="container">
            <div class="title">
                <h2>Somos la plataforma lider para armar la vaquita.</h2>
                <span class="byline">Personas de todo el mundo juntaron dinero para su proyecto.</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul class="actions">
                <li><a href="{% if User %}{% url 'newproyect' User%}{% else %}{% url 'login' %}{% endif %}" class="button">Arma una vaquita</a></li>
            </ul>
        </div>
    </div>
{% endblock  %}