
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Assembly 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140330

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
	{% block title %}
	{% endblock  %}
	| Founde.me
</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href={% static 'css/default.css' %} rel="stylesheet" type="text/css" media="all" />
<link href={% static 'css/fonts.css'%} rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
{% if messages %}
	<div class = "wellcome">
	{% for message in messages %}
			<p class "wellcomep">{{message}}</p>
	{% endfor %}
	</div>
{% endif %}
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{% url 'index' %}"><strong>FONDEA.ME</strong></a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a id = "navi" href="{% if User %}{% url 'indexLoged' %}?{{User}}{% else %}{% url 'proyectos' %}{% endif %}" accesskey="1" title="">Homepage</a></li>
				<li><a id = "navi" href="{% if User %}{% url 'proyectosLoged' %}?{{User}}{% else %}{% url 'proyectos' %}{% endif %}" accesskey="3" title="">Proyectos</a></li>
				{% if User %}
					<li><a id = "navi" href="{% url 'tusproyectos' %}?{{User}}" accesskey="1" title="">Tus Proyectos</a></li>
					<li><a id = "navi" href="{% url 'proyectos' %}?{{User}}" accesskey="3" title="">Perfil</a></li>
				{% else %}
					<li><a id = "navi" href="{% url 'register' %}" accesskey="2" title="">Registrate</a></li>
					<li><a id = "navi" href="{% url 'login' %}" accesskey="4" title="">Login</a></li>
				{% endif %}
				<li><a id = "navi" href="#" accesskey="5" title="">Contactanos</a></li>
			</ul>
		</div>
	</div>
	{% block index %}
	{% endblock  %}
</div>
{% block content %}


{% endblock  %}
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
