
{% extends 'layout.html' %}

{% block title %}
    Proyectos
{% endblock title %}

{% block content %}
    <div id="wrapper">
        <div id="main-content" class = "container">
            <div class="title">
                <h2>Estas son las campañas activas.</h2>
                <span class="byline">Encuentra algo que te guste y ponle unos billetes.</span>
            </div>

            <div id = "menu-categorias">
                <ul class="nav">
                    {% for category in Categories %}
                        <li><a
                               href =  "{% if User %}
                                            {% url 'proyectsCate' User category.id%}
                                        {% else %}
                                            {% url 'proyectsCate' category.id%}
                                        {% endif %}">
                            {{category.name}}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
            

            <!--

            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/work/">Work</a></li>
              <li><a href="/clients/">Clients</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>


            <div id = "categoryna">
                <ul class = "nav">
                    <li><a class="linkcategory" href = "">Categoria</a>
                        <ul>
                            {% for category in Categories %}
                                <li><a class="linkcategory" href = "{% if User %}{% url 'proyectsCate' User category.id%}{% else %}{% url 'proyectsCate' category.id%}{% endif %}">{{category.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            -->

			<div id = "proyectosList">
                {% if Proyects %}
                <div class = "procontainer">
                    <table class = "proyectos">
                        <thead>
                            <tr>
                            <th>Nombre</th>
                            <th>Meta</th>
                            <th>Actual</th>
                            <th>Pagina</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for proyect in Proyects %}
                            <tr>
                            <td>{{proyect.name}}</td>
                            <td>{{proyect.goal}}</td>
                            <td>{{proyect.actual}}</td>
                            <td><a id = "link-in-table" class = "myproyectlink" href ="{% if User %}{% url 'proyectoLoged' User proyect.id%}{% else %}{% url 'proyecto' proyect.id %}{% endif %}">Ir al proyecto<a/></td>
                            <tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h3>Aún no hay proyectos registrados en esta categoría...</h3>
                {% endif %}
            </div>
	   </div>
    </div>
    
    <div id="welcome">
        <div class="container">
            <div class="title">
                <h2>¿No encontraste nada? Arma tu propia vaquita.</h2>
                <span class="byline">Personas de todo el mundo juntaron dinero para su proyecto.</span>
            </div>
            <ul class="actions">
                <li><a href="{% if User %}{% url 'newproyect' User%}{% else %}{% url 'login' %}{% endif %}" class="button">Inicia una campaña.</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}