
{% extends 'layout.html' %}

{% block title %}
    Proyectos
{% endblock %}


{% block content %}
    <div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Estas son las campañas activas.</h2>
			<span class="byline">Encuentra algo que te guste y ponle unos billetes.</span>
		</div>
		<div class="boxA">
			<h2>Ayuda a un telemático</h2>
			<p>José es ingeniero, estudió Telemática. Pero no encuentra un trabajo que le guste. Sabe programar como un dios y tiene muchas ideas de startups que de seguro serían un golpazo. Hay talento, lo que no hay es dinero. Ayuda a un telmático.</p>
			
		</div>
		<div class="boxB">
			<h2>Juan quiere un carro nuevo</h2>
			<p>El otro día Juan pasó por la gencia y vio un carro que legustó mucho, fue amor a primera vista. El problema es que Juan sigue pagando su carro viejo y no puede juntar la plata que necesita. Tírale una mano para que pueda cumplir su sueño.</p>
			
		</div>
		<div class="boxC">
			<h2>María quiere comprarse ropa</h2>
			<p>La temporada primavera verano ya empezo, y María sigue usando la ropa de la temporada pasada. Ayudala a comprar ropa nueva para que pueda salir de fiesta sin sentir que va dando pena por todas partes.</p>
			
		</div>
	</div>
	
	<div id="three-column" class="container">
		<div class="boxA">
			<a href="{% if User %}{% url 'proyectoLoged' %}?{{User}}{% else %}{% url 'proyecto' %}{% endif %}" class="button button-alt">More Info</a>
		</div>
		<div class="boxB">
			<a href="{% if User %}{% url 'proyectoLoged' %}?{{User}}{% else %}{% url 'proyecto' %}{% endif %}" class="button button-alt">More Info</a>
		</div>
		<div class="boxC">
			<a href="{% if User %}{% url 'proyectoLoged' %}?{{User}}{% else %}{% url 'proyecto' %}{% endif %}" class="button button-alt">More Info</a>
		</div>
	</div>
    </div>
    <div id="welcome">
        <div class="container">
            <div class="title">
                <h2>¿No encontraste nada? Arma tu vaquita.</h2>
                <span class="byline">Personas de todo el mundo juntaron dinero para su proyecto.</span>
            </div>
                <li><a href="#" class="button">Empieza una campaña</a></li>
            </ul>
        </div>
    </div>
{% endblock %}