
{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Proyecto
{% endblock  %}

{% block content %}

<div class = "main-project-container">
    <div class="title">
		<h2>{{proyecto.name}}</h2>
		<span class="byline">Ayuda a {{Owner.name}} con su proyecto</span>
	</div>
    
	<div class="container-proyecto-left">
        
    <div>
        <img class = "image-centered" src="{% static 'images/imagen_proyecto1.png' %}">
	</div>
        {{proyecto.description|safe}}
	</div>	
    
    <div class="container-proyecto-right">
	<div class="title">
		<h3>MX ${{proyecto.actual}}</h3>
		<span class="byline-2">De ${{proyecto.goal}}</span>
	</div>
        
    <div class="title">
		<h3>35</h3>
		<span class="byline-2">patrocinadores</span>
	</div>
        
    <div class="title">
		<h3>{{ proyecto.deadline }}</h3>
        <span class="byline-2">Fecha limite</span>
	</div>
        
    <div>
        <a href="{% if User %}{% else %}{% url 'login' %}{% endif %}" class="button button-alt">{% if Mine %}Monitoriza{% else %}Apoya este proyecto{% endif %}</a>
	</div>
        
        
</div>
{% endblock  %}