
{% extends 'forms.html' %}


{% block title %}
    Suport Proyect
{% endblock title %}

{% block method %}
    {% url 'suport' User.id proyect%}
{% endblock  %}

{% block content %}
    <h1>Apoyando un proyecto</h1>
    <p>Gracias por apoyar este proyecto {{User.name}}</p>
    <p>Tienes {{User.wallet}} para apoyar este proyecto</p>
    <hr>
    {% if message %}
          <div class = "warn">
            <strong>{{message}}</strong><br>
          </div>

    {% endif %}
    {% csrf_token %}
    {{form}}

    <div class="clearfix">
		<button id="clickMe" type="button" value="clickme" onclick="myFunction()" class="cancelbtn">Cancelar</button>
		<!-- <button onclick="window.location.href='/index.html'" class="cancelbtn">Cancelar</button> -->
        <button type="submit"  class="signupbtn">Apoyar</button>
    </div>

    <script>
        const buttonSalir = document.getElementById('clickMe');
        const myFunction = () => {
          location.replace("{% url 'proyectosLoged' user %}");
        }
    </script>

{% endblock content %}