
{% extends 'layout.html' %}

{% block title %}
    User info
{% endblock title %}

{% block content %}
    <h1>Tu Perfil</h1>
    <div>
        <h2>Correo: </h2><p>{{Userinfo.user}}</p>
        <h2>Nombre: </h2><p>{{Userinfo.name}}</p>
        <h2>Saldo actual:</h2><p>${{Userinfo.wallet}}</p>
        <h2>Foto: </h2> {% if Userinfo.photo %}<img src = "{{Userinfo.photo}}">{% else %}<p>No tienes niguna foto</p>{% endif %} 
    </div>


    <hr>
    <h2>Donacione que has hecho</h2>
    <div>
        <table>
            <thead>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Fecha</th>
                <th>Enlace</th>
            </thead>
            <tbody>
                {% for proyect in Proyects %}
                    <tr>
                        <td>{{proyect.0.name}}</td>
                        <td>{{proyect.1}}</td>
                        <td>{{proyect.2}}</td>
                        <td><a class = "myproyectlink" href="{% url 'proyectoLoged' User proyect.0.id %}" >Ve al poryecto</a></td>
                    </tr>
                {% empty %}
                    <h3>Todavia no has apoyado ningun proyecto</h3>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class = "proyectlink" href ="{% url 'index'%}">Cerrar sesion<a/>

{% endblock content %}