

{% extends 'forms.html' %}

{% block title %}
    Login
{% endblock  %}

{% block method %}
    {% url 'loged' %}
{% endblock  %}

{% block content %}
      <h1>Bienvenido de vuelta</h1>
      <hr>
        {% if message %}
          <div class = "warn">
            <strong>{{message}}</strong><br>
          </div>

        {% endif %}
        {% csrf_token %}
        {{form}}
      <p><a href="{% url 'formreset' %}" style="color:dodgerblue">Recuperar contraseña</a>.</p>
      <p><a href="{% url 'register' %}" style="color:dodgerblue">Registrate</a>.</p>
      <div class="clearfix">
		    <button id="clickMe" onclick="myFunction()" type="button" value="clickme" class="cancelbtn">Cancelar</button>
		<!-- <button onclick="window.location.href='/index.html'" class="cancelbtn">Cancelar</button> -->
        <button type="submit" href="EUREKA.html" class="signupbtn">Entrar</button>
      </div>

      <script>
        const buttonSalir = document.getElementById('clickMe');
        const myFunction = () => {
          location.replace("http://127.0.0.1:8000/");
        }
      </script>

{% endblock  %}

