
{% extends 'forms.html' %}

{% block title %}
    New Password
{% endblock  %}

{% block method %}
    {% url 'formpass' User%}
{% endblock  %}

{% block content %}
    <h1>Cambiar tu contraseña</h1>
    <p>Danos tu nueva contraseña</p>
    <hr>   
    {% if message %}
          <div class = "warn">
            <strong>{{message}}</strong><br>
          </div>
          
        {% endif %}
    {% csrf_token %}
    {{form}}
    <div class="clearfix">
		<button id="clickMe" type="button" value="clickme" onclick="cancel_signup();" class="cancelbtn">Cancelar</button>
		<!-- <button onclick="window.location.href='/index.html'" class="cancelbtn">Cancelar</button> -->
        <button type="submit"  class="signupbtn">Enviar</button>
    </div>
{% endblock  %}