
{% load static %}



<!DOCTYPE html>
<html>
<header>
    <link href={% static 'css/signup_estilos.css'%} rel="stylesheet" type="text/css" media="all" />
    <title>Registro | Found.me</title>
</header>
<body>

<div id="id01" class="modal">
  <form class="modal-content" method = "POST" action = "{% url 'Guardar' %}">
    <div class="container">
      <h1>Formato de registro</h1>
      <hr>
      {% csrf_token %}
      {{ form }}

      <p>Al crear una cuenta en esta plataforma aceptas nuestros <a href="condiciones.html" style="color:dodgerblue">Terminos & Condiciones de privacidad</a>.</p>

      <div class="clearfix">
		    <button id="clickMe" type="button" name = {% url 'index' %} class="cancelbtn">Cancelar</button>
		<!-- <button onclick="window.location.href='/index.html'" class="cancelbtn">Cancelar</button> -->
        <button type="submit" action = "{% url 'index' %}" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>

