
{% extends 'forms.html' %}

{% block title %}
    Register
{% endblock  %}

{% block method %}
    {% url 'Guardar' %}
{% endblock  %}
    
{% block content %}
      <h1>Formato de registro</h1>
      <hr>
        {% if message %}
          <div class = "warn">
            <strong>{{message}}</strong><br>
          </div>
        {% endif %}
      
      {% csrf_token %}
      {{ form }}

      <p>Al crear una cuenta en esta plataforma aceptas nuestros <a href="condiciones.html" style="color:dodgerblue">Terminos & Condiciones de privacidad</a>.</p>

      <div class="clearfix">
		    <button id="clickMe" type="button" name = {% url 'index' %} class="cancelbtn">Cancelar</button>
		<!-- <button onclick="window.location.href='/index.html'" class="cancelbtn">Cancelar</button> -->
        <button type="submit" action = "{% url 'index' %}" class="signupbtn">Sign Up</button>
      </div>
	  <script>
		const btn = document.querySelector('#clickMe');

		btn.addEventListener('click', () => {
			location.replace("http://127.0.0.1:8000/");
		})
	  </script>
{% endblock  %}
